@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
    
body {
    background-color: #141414;
    margin: 0;
    padding: 0;
}
header {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 7%;
    background-color: #141414;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

li, a, button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #e3e4db;
    text-decoration: none;
    list-style: none;
}


.logo {
    cursor: pointer;
    margin: 5px auto auto 5px;
    font-size: 33px;
}

img {
    display: inline;
}
.search-box {
    position: relative;
    background: #e3e4db;
    height: 22px;
    border-radius: 40px;
    padding: 11px;
  
}

.search-btn {
    color: #0c2207;
    float: right;
    width: 33px;
    height: 21px;
    border-radius: 20px;
    background-color: #e3e4db;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #0c2207;
    font-size: 17px;
    line-height: 13px;
    width: 444px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
display: inline-block;
padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
color: #7ddf64;

}


button {
    margin-left: 33px;
    padding: 7px 22px;
    background-color: #141414;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #7ddf64;
    color: black;
}
