body {
    background-color: #353531;
}

h1 {
    text-align: center;
    color: #e3e4db;
    font-family: 'Courier New', Courier, monospace;
    font-size: 33px;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 1px;
}
h2 {
text-align: center;
color: #e08e45;
font-family: 'Courier New', Courier, monospace;
font-size: 17px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
}
ul {
    width: 100%;
    display: inline-block;
    list-style-type: none;
    padding: 13px;
    margin: 17px;
    background-color: #e3e4db;

}
li {
    display: inline;
    float: right;
    color: #e08e45;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: lighter;

}